html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Cutive Mono", monospace;
  font-size: 1.15em;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
pre {
  font-family: "Cutive Mono", monospace;
}
ul {
  line-height: 120%;
}

a {
  text-decoration: none;
  color: #008dd6;
}
a:hover {
  text-decoration: underline;
}

.blog-post-content {
  line-height: 100%;
  max-width: 700px;
}
.energiser-list {
  list-style: none;
}
